<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="text-align: center;">
    {{>header}}
    <p>Reset password: <a href="{{link}}" style="color: teal; text-decoration: underline;">{{link}}</a></p>
    {{>footer}}
</body>

</html>