<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="text-align: center;">
    {{>header}}
    <h3>Successfully reserved for <a href="{{eventLink}}" style="color: teal; text-decoration: underline;">{{event}}</a>
    </h3>
    {{>footer}}
</body>

</html>